/* @tailwind base; */ /* this will reset the root style that's why it is commented */
@tailwind components;
@tailwind utilities;
/* Universal pre-defined style */
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent horizontal scrollbar */
html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

/* Root  pre-defined style*/
:root {
  font-size: calc(1rem + 0.5vw, 1.5rem);
}
